<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#0c1117" />
		<link rel="icon" type="image/svg" href="/images/mail-logo.svg" />
		<link rel="apple-touch-icon" href="/images/mail-logo.svg" />
		<link href="./_app/immutable/entry/start.CJiuVBLU.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/BZT8_8Ir.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/BmSrWEuC.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/4wpvbDBf.js" rel="modulepreload">
		<link href="./_app/immutable/entry/app.oKisHSJM.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/kNaey6uv.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/xihTtKlq.js" rel="modulepreload">
		<link href="./_app/immutable/nodes/0.C9MlDO00.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/CL6_mKAe.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/B13qMDp2.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/DXt8PC52.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/C4fbqmoI.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/kXblm8cp.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/BnDVOb1H.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/Dn6t15nH.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/BoBiqNC2.js" rel="modulepreload">
		<link href="./_app/immutable/nodes/3.gYbYDUsI.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/C4r210pm.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/BC78Cu6r.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/_JSrLLNR.js" rel="modulepreload">
		<link href="./_app/immutable/chunks/B8uaFEuX.js" rel="modulepreload">
		
		<link href="./_app/immutable/assets/0.CjIZzosd.css" rel="stylesheet">
		<link href="./_app/immutable/assets/3.X-Mat4QU.css" rel="stylesheet">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_1c4fwdy = {
						base: new URL(".", location).pathname.slice(0, -1)
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("./_app/immutable/entry/start.CJiuVBLU.js"),
						import("./_app/immutable/entry/app.oKisHSJM.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
